*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}
  
html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
 
.container {
   max-width: 1380px;
   width: 100%;
   margin: auto;
}
button {
   background: #f3e6e6;
   color: #000000;
   border: none;
   cursor: pointer;
}
a {
   text-decoration: none;
   color: #000000;
   /* font-size: 25px; */
}

/* settings */

/* header */

.header{
    padding-top: 20px;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    border-bottom: 1px solid #000;
    padding: 15px 25px 15px 25px;
}
.header-nav__item{
    margin-right: 30px;
    font-size: 16px;
    transition: all .3s;
}
.header-nav__item:last-child{
    margin: 0;
}
.header-nav__item:hover{
    color: #b3b3b3;
}
/* header */

/* hero */

.hero{
    padding-top: 80px;
}
.container--hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hero-content-title{
    display: flex;
    align-items: center;
}
.hero-content-title__line{
    background: #000000;
    height: 2px;
    width: 100px;
}
.hero-content-title__text{
    margin-left: 30px;
    font-size: 20px;
}
.hero-content{
    display: flex;
    flex-direction: column;
}
.header__img{
    width: 150px;
    margin-top: 30px;
}
.hero-content__title{
    font-size: 80px;
    margin-top: 20px;
}
.hero-content__desc{
    max-width: 470px;
    font-size: 20px;
    line-height: 25px;
    margin-top: 50px;
}
.hero-content-bottom{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.hero-content-bottom__button{
    transition: all .3s;
    padding: 15px 30px 15px 30px;
    background: #000000;
    color: white;
    font-size: 16px;
    border: 2px solid black;
}
.hero-content-bottom__button:hover{
    background: white;
    color: black;
}
.hero-content-bottom__line{
    width: 100px;
    height: 2px;
    background: #000000;
    margin-left: 30px;
}
.hero-content__adress{
    margin-top: 35px;
    font-size: 12px;
}
.hero-content-img{
    display: flex;
}

/* hero */

/* services */

.services{
    padding-top: 120px;
    padding-bottom: 100px;
}
.services__title{
    text-align: center;
    font-size: 38px;
}
.services-links{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.services-links__item{
    font-size: 24px;
}
.services-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services-content-card{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-content-card__img{
    max-width: 500px;
    width: 100%;
    max-height: 500px;
}
.services-content-card__title{
    margin-top: 30px;
    font-size: 25px;
}
.services-content-card__text{
    margin-top: 25px;
}
.services-content-card__button{
    margin-top: 25px;
    padding: 15px 20px;
    border: 1px solid #000;
    background: white;
    transition: all .3s;
}
.services-content-card__button:hover{
    background: black;
    color: white;
}
/* services */

/* people */

.people{
    padding-top: 50px;
    padding-bottom: 150px;
}
.container--people{
    max-width: 1600px;
    width: 100%;
}
.people__title{
    text-align: center;
    font-size: 38px;
    position: relative;
}
.people-content{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}
.people-content__img{
    width: 515px;
    height: 380px;  
}
.people-content-img{
    position: relative;
    height: 350px;
    overflow: hidden;
}
.people-content-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all .3s;
}
.people-content-img:hover.people-content-img::before{
    opacity: 1;
}
.people-content-img:hover .people-content-info{
    margin-top: -150px;
}
.people-content-info{
    transition: all .3s;
    text-align: center;
    font-size: 18px;
    color: #fbfbfb;
    position: relative;
    z-index: 1;
}
.people-content-info__name{
    margin-bottom: 15px;
    font-size: 24px;
}
.people__title::after{
    content: '';
    position: absolute;
    top: 295px;
    left: -50px;
    width: 40px;
    height: 40px;
    background: url('../img/left.png') no-repeat center / cover;
}
.people__title::before{
    content: '';
    position: absolute;
    top: 295px;
    right: -50px;
    width: 40px;
    height: 40px;
    background: url('../img/right.png') no-repeat center / cover;
}

/* people */

/* price */

.price{
    padding-top: 60px;
    padding-bottom: 150px;
}
.price__title{
    text-align: center;
    font-size: 38px;
}
.price-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.price-content-price{
    display: flex;
    flex-direction: column;
}
.price-content-price__title{
    margin-top: 120px;
    font-size: 24px;
}
.price-content-price-list{
    margin-top: 30px;
}
.price-content-price-list__text{
    margin-bottom: 20px;
}
.price-content-price-list__span{
    margin-left: 30px;
}
.price-content-price-services{
    margin-top: 50px;
}
.price-content-price-services__text{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}
.price-content-price-services__button{
    margin-top: 30px;
    padding: 15px 30px;
    background: white;
    border: 1px solid #000;
    font-weight: bold;
    transition: all .3s;
}
.price-content-price-services__button:hover{
    background: black;
    color: white;
}
.price-content__img{
    width: 700px;
}

/* price */

/* feedback */

.feedback{
    padding-top: 20px;
    padding-bottom: 50px;
}
.feedback-title{
    text-align: center;
    font-size: 38px;
}
.feedback-content{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.feedback-content-one{
    max-width: 500px;
    margin: 50px;
}
.feedback-content-one__name{
    margin-top: 15px;
    text-transform: uppercase;
}
.feedback-content-one__img{
    width: 100%;
    height: 400px;
}
.feedback-content-one__text{
    text-transform: uppercase;
    margin-top: 20px;
}
.feedback-content-two{
    max-width: 500px;
    margin: 50px;
}
.feedback-content-two__img{
    width: 100%;
    height: 400px;
}
.feedback-content-two__name{
    margin-top: 15px;
    text-transform: uppercase;
}
.feedback-content-two__text{
    text-transform: uppercase;
    margin-top: 20px;
}
.feedback-content__arrow--left{
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.feedback-content__arrow--right{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.feedback__button{
    padding: 15px 30px;
    background: white;
    border: 1px solid #000;
    font-weight: bold;
    transition: all .3s;
}
.feedback__button:hover{
    background: black;
    color: white;
}
.feedback-button{
    display: flex;
    justify-content: center;
}

/* feedback */

/* info */

.info{
    padding-top: 20px;
    padding-bottom: 50px;
}
.info-title{
    font-size: 38px;
    text-align: center;
}
.info-content{
    margin-top: 80px;
    display: flex;
    align-items: center;
}
.info-content__img{
    max-width: 800px;
}
.info-content-text-desc{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin: 30px;
}
.info-content-text-desc__line{
    height: 2px;
    width: 90px;
    background: black;
    margin-bottom: 15px;
}
.info-content-text-desc__content{
    max-width: 400px;
    font-size: 22px;
}
.info-content-text-desc__line--two{
    margin-left: 300px;
    margin-top: 15px;
    height: 2px;
}

/* info */

/* form */

.form{
    padding-top: 150px;
    padding-bottom: 80px;
}
.form-content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form-content__img{
    height: 700px;
}
.form-content-text__title{
    font-size: 28px;
    max-width: 270px;
    margin-bottom: 30px;
}
.form-content-text__desc{
    font-size: 20px;
    max-width: 360px;
}
.form-content-form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.form-column{
    display: flex;
    flex-direction: column;
}
.form-content-form__input{
    max-width: 300px;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    height: 30px;
    text-indent: 10px;
}
.form-content-form__input:last-of-type{
    margin: 0;
}
.form-content-form__text{
    font-size: 12px;
    color: rgb(193, 193, 193);
    max-width: 210px;
    margin-left: 15px;
}
.form-content-form-group{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.form-content-form__checkbox{
    width: 17px;
    height: 17px;
}
.form-content-form__button{
    max-width: 200px;
    padding: 10px 20px 10px 20px;
    background: white;
    border: 1px solid #000;
    font-weight: bold;
    transition: all .3s;
}
.form-content-form__button:hover{
    background: black;
    color: white;
}

/* form */

/* footer */

.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #000;
}

.footer-nav{
    border: none;
}

/* footer */

/* modal */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}
.modal.active{
    display: block;
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-wrapper{
    background: #ffffff;
    padding: 30px;
    max-width: 600px;
    width: 100%;
    margin: auto;
    top:  calc(50% - 100px);
    left: calc(50% - 230px);
    position: absolute;
    border-radius: 15px;
}
.modal-form__input{
    max-width: 400px;
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    height: 30px;
    text-indent: 10px;
}
.modal-form__button{
    max-width: 200px;
    padding: 10px 20px 10px 20px;
    background: white;
    border: 1px solid #000;
    font-weight: bold;
    transition: all .3s;
}
.modal-form__button:hover{
    background: black;
    color: white;
}
.modal-form__textarea{
    max-width: 400px;
    width: 100%;
    height: 50px;
    resize: none;
}

/* modal */

/* pages two. Header */

/* header */
.day{
    padding-top: 100px;
    padding-bottom: 50px;
}

.header-content__title{
    font-size: 40px;
    font-weight: normal;
    border-bottom: 2px solid #000;
}
.day-content{
    display: flex;
    flex-direction: column;
}
.day-content__title{
    font-size: 30px;
    margin-bottom: 30px;
}
.day-content__text{
    margin-bottom: 30px;
    font-size: 20px;
    max-width: 700px;
}
.day-content__button{
    max-width: 200px;
    padding: 10px 15px 10px 15px;
    background: white;
    color: #000;
    border: 2px solid black;
    transition: all .3s;
}
.day-content__button:hover{
    color: white;
    background: black;
}
.day-full{
    display: flex;
    align-items: center;
}
.day-full__img{
    max-width: 600px;
    width: 100%;
    max-height: 500px;
}

/* day */

/* price */

.day-price{
    padding-top: 20px;
}
.day-price__title{
    font-size: 40px;
    font-weight: normal;
}
.day-price-content{
    display: flex;
    flex-direction: column;
}
.day-price-content-item{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.day-price-content-item__text{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #000;
    max-width: 265px;
    padding-bottom: 10px;
}
.day-price-content-item__text:last-child{
    margin: 0;
}

/* evening */

.evening-full__img{
    height: 500px;
}

/* wedding */

/* .wedding-full__img{
    width: 400px;
    margin-left: 30px;
} */